
albumentations==0.4.6
densenet_pytorch==0.2.0
efficientnet_pytorch==0.7.1
matplotlib==3.2.2
numpy==1.19.5
opencv_python==4.1.2.30
pandas==1.1.5
Pillow==9.0.0
scikit_learn==1.0.2
scipy==1.4.1
timm==0.5.4
torch==1.10.0+cu111
torchvision==0.11.1+cu111
tqdm==4.62.3
